<template>
  <v-container>
    <v-text-field label="Main input" type="number" v-model="num1" v-show="!alert"></v-text-field>
    <v-text-field label="Another input" type="number" v-model="num2" v-show="!alert"></v-text-field>
    <div class="my-2" @click="calculate()" v-show="!alert">
      <v-btn color="primary">Sum Di Sus</v-btn>
    </div>
    <v-alert
      v-model="alert"
      border="left"
      close-text="Close Alert"
      color="deep-purple accent-4"
      dark
      dismissible
    >
      your sum is {{ sum }}
    </v-alert>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Sum extends Vue {
  private num1 = 0;
  private num2 = 0;
  private sum = 0;
  private alert = false;

  private calculate () {
    this.sum = parseInt(this.num1.toString()) + parseInt(this.num2.toString())
    this.alert = !this.alert
  }
}
</script>
